<%= render "shared/errors", obj: @article %>

<div class="container">
<%= form_for @article do |f| %>
  <div class="row form-group">
    <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label> -->
    <div class="col-sm text-right">
        <%= f.label :title, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <!-- <input type="email" class="form-control" id="inputEmail3"> -->
      <%= f.text_field :title, class: "form-control", placeholder: "Title of article" %>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div class="row form-group">
    <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
    <div class="col-sm text-right">
        <%= f.label :description, class: "col-form-label" %>    
    </div>
    <div class="col-sm-8">
      <!-- <input type="password" class="form-control" id="inputPassword3"> -->
      <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
    </div>
    <div class="col-sm">
    </div>

  </div>
  <div class="row form-group">
    <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
    <div class="col-sm-2 col-form-label"></div>
     <div class="col-sm-10">
      <small>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox ml-4 mr-2") + cb.text } %>
        <% end %>
      </small>
    </div>
    <div class="col-sm">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2 col-form-label"></div>
    <div class="col-sm-10">
      <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>


<%= link_to "[ Cancel request and return to article listing ]", articles_path %>

<script>
  var options = [];

  $( '.dropdown-menu a' ).on( 'click', function( event ) {

     var $target = $( event.currentTarget ),
         val = $target.attr( 'data-value' ),
         $inp = $target.find( 'input' ),
         idx;

     if ( ( idx = options.indexOf( val ) ) > -1 ) {
        options.splice( idx, 1 );
        setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
     } else {
        options.push( val );
        setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
     }

     $( event.target ).blur();
        
     console.log( options );
     return false;
  });
</script>

