<h1>List of all Articles</h1>
<p><%= link_to "Create New Article", new_article_path %></p>
<table>
    <tr>
        <th>Title: </th>
        <th>Description: </th>
    </tr>

    <% @articles.each do |article| %>

        <div class="col-sm-8 offset-sm-2 mt-3 mb-3">
            <div class="card">
                <div class="card-header">
                    <h2 align="center">Title: <%= article.title %></h2>
                </div>
                <div class="card-body text-left">
                    <p class="card-text"><%= article.description %></p>
                    <hr>
                    <div class="article-actions col-sm-10">
                        <%= link_to "View", article_path(article), class: "btn btn-sm btn-success" %> 
                        <%= link_to "Edit", edit_article_path(article), class: "btn btn-sm btn-primary" %> 
                    </div>
                </div>
            </div>
        </div>


    <% end %>
</table>

